////////////////////////////////////////////////////////////////////////////////
//
//		SASS for imjoshnewton.me
//		Version: 1.6.2
//		Updated: 3/5/17
//		Notes:	Implimenting Bourbon and Bitters - Added Bourbon and Bitters
//
////////////////////////////////////////////////////////////////////////////////

// CodeKit
//@import "bourbon", "bitters/base";
// Manual
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

// Fonts

$base-font-family: "Montserrat", sans-serif;
$heading-font-family: "Amiko", sans-serif;

// Font Sizes

$large-font: 2.75em;
$small-font: 1em;

$large-icons: 3em;
$medium-icons: 2.5em;

// Colors

$white: #fff;
$white80: rgba(100%, 100%, 100%, 0.8);
$white85: rgba(255, 255, 255, 0.85);
$white90: rgba(100%, 100%, 100%, 0.9);
$grey60: rgba(20%, 20%, 20%, 0.6);
$darkgrey70: rgba(5%, 5%, 5%, 0.7);
$antiquewhite: #f2ebea;
$darkgrey: #333;
$darkgrey-rgba: rgba(21, 21, 21, 0.5);
$grey-overlay: linear-gradient($darkgrey-rgba, $darkgrey-rgba);

// Gradient Stops

$neutral-white-background: $white80, $white90;
$neutral-grey-background: $grey60, $darkgrey70;

//shapes

$triangle: polygon(0 0, 0 100%, 100% 0);
$rect: polygon(0 100%, 100% 0, 100% 100%);

body {
  color: $antiquewhite;
  font-family: $base-font-family;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
    //opacity: .7;
  }
  /*&:active {
    opacity: .5;
  }

  &:visited {
    color: $darkgrey;
  }*/
}

h1 {
  font-size: $large-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  margin-top: 0.33em;
}

h4 {
  margin-bottom: 0.75em;
}

p,
ul {
  color: $antiquewhite;
  font-family: $base-font-family;
  font-size: $small-font;
  font-weight: normal;
  text-align: left;
}

.wow {
  visibility: hidden;
}

.menu {
  @include position(absolute, 0 0 null null);
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;

  svg {
    @include position(fixed, 15px 15px null null);
    @include size(auto);
    //animation: slideInDown .75s ease-in-out .5s 1 forwards;
    color: $white;
    cursor: pointer;
    // font-size: 1.75rem;
    padding: 7.55px 10px;
    text-align: right;
    transition: all 250ms ease-in-out;
    z-index: 10;
  }

  &.open {
    svg {
      right: 147px;
    }

    ul {
      right: 0;
    }

    a svg {
      right: 0;
    }
  }

  ul {
    @include position(fixed, 0 -132px null null);
    background-color: $white85;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    padding: 17.5px 0;
    transition: all 250ms ease-in-out;
    z-index: 10;

    li {
      color: $darkgrey;
      cursor: pointer;
      padding: 10px 15px;
      text-align: left;
      transition: all 250ms ease-in-out;

      &:last-child {
        @include position(absolute, null null 40px 25%);
        text-align: center;
      }

      svg {
        @include position(relative, null 0 null null);
        color: $darkgrey;
        font-weight: 500;
      }

      a {
        color: $darkgrey;
        font-family: $heading-font-family;
        font-size: 1.25rem;
        font-weight: 500;
        text-transform: uppercase;
        transition: all 150ms ease-in-out;

        &:hover {
          opacity: 0.7;
        }

        &:visited {
          color: $darkgrey;
        }

        svg {
          color: $darkgrey;
          font-weight: 500;
          position: relative;
          right: 0;
        }
      }
    }
  }
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  position: relative;
  transition: all 500ms ease-in-out;

  &.body {
    justify-content: center;
    background: #333;
    text-align: left;
    align-items: flex-start;
    padding: 5% 15%;
    min-height: 50vh;
    border-top: 2px solid #eee;

    h1 {
      animation-delay: 0.5s;
      width: auto;
      text-transform: uppercase;
    }

    .wrapper {
      animation-delay: 0.5s;
      flex-wrap: wrap;
      justify-content: flex-start;

      p:first-child {
        margin-top: 0;
      }

      ul {
        flex: 1;
        width: 50%;
      }
    }
  }

  &.footer {
    justify-content: center;
    text-align: right;
    align-items: flex-end;
    padding: 5% 15%;
    background: $darkgrey;

    h1 {
      animation-delay: 0.5s;
      width: 100%;
      opacity: 0.9;
    }

    .wrapper {
      animation-delay: 0.5s;
      text-align: right;
      flex-direction: row;
      justify-content: flex-end;
      opacity: 0.75;

      //&:last-of-type {
      //	margin-top: 1rem;
      //}

      a {
        margin-left: 1.75rem;
        margin-bottom: 1rem;

        svg {
          font-size: $large-icons;
          color: $antiquewhite;
        }

        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }
}

.header {
  background-color: $antiquewhite;
  min-height: 100vh;
  text-align: center;
  z-index: 0;

  .bg {
    @include position(fixed, 0 0 0 0);
    opacity: 0;
    //transition: transform 0s linear;
    will-change: opacity;

    &:nth-child(1) {
      animation: headerImageRotate 25s ease-in-out infinite;
      background: $grey-overlay,
        url(https://source.unsplash.com/igmaRVtMhqg/853x480) center center
          no-repeat;
      background-size: cover;
      z-index: -1;
    }

    &:nth-child(2) {
      animation: headerImageRotate 25s ease-in-out 5s infinite;
      background: $grey-overlay,
        url(https://source.unsplash.com/5D9SyUI3wHU/853x480) center center
          no-repeat;
      background-size: cover;
      z-index: -2;
    }

    &:nth-child(3) {
      animation: headerImageRotate 25s ease-in-out 10s infinite;
      background: $grey-overlay,
        url(https://source.unsplash.com/IZTnVWWbd4U/853x480) center center
          no-repeat;
      background-size: cover;
      z-index: -3;
    }

    &:nth-child(4) {
      animation: headerImageRotate 25s ease-in-out 15s infinite;
      background: $grey-overlay,
        url(https://source.unsplash.com/gb7n4cNSmKY/853x480) center center
          no-repeat;
      background-size: cover;
      z-index: -4;
    }

    &:nth-child(5) {
      animation: headerImageRotate 25s ease-in-out 20s infinite;
      background: $grey-overlay,
        url(https://source.unsplash.com/6gTxjDrGCVI/853x480) center center
          no-repeat;
      background-size: cover;
      z-index: -5;
    }
  }

  .overlay {
    @include position(absolute, 0 0 0 0);
    background: $grey-overlay;
    display: none;
    z-index: 6;
  }

  .wrapper {
    z-index: 10;
  }

  h1 {
    animation-delay: 0.25s;
    font-size: $large-font;
    font-weight: 300;
    width: 100%;
    z-index: 10;
  }

  a {
    color: $white;
  }
}

.wrapper {
  animation-delay: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.button {
  padding: 15px 30px;
  text-align: center;

  a {
    color: $antiquewhite;
    font-weight: bold;
    line-height: $medium-icons;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: uppercase;
    width: 10%;

    svg {
      animation: upAndDown 750ms ease-in-out 2.5s infinite alternate;
      font-size: 1.5rem;
      transform: translateY(-10px);
    }
  }
}

#More {
  background: $antiquewhite;
  color: $darkgrey;

  .wrapper {
    p,
    ul {
      color: $darkgrey;
    }
  }
}

#Connect {
  min-height: initial;
  position: relative;
  background: $darkgrey;

  h1 {
    opacity: 0.9;
  }

  .wrapper {
    flex-direction: row;
    opacity: 0.75;

    a {
      text-decoration: none;
      color: $antiquewhite;
      margin-left: 1.75rem;
      margin-bottom: 1rem;

      svg {
        font-size: $medium-icons;
        color: $antiquewhite;
      }

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}

// List Roll Code

.listroll {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .rollrow {
    min-width: 49%;
    flex: 1 1 49%;
    display: flex;
    flex-direction: column;

    label {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      transition: all 150ms ease-in-out;

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }

      i {
        max-height: 1.25rem;
        margin: 1em 0.75em 1em 0;
        font-size: 1.25rem;
        transform: rotate(-90deg);
        transition: all 250ms ease-in-out;
      }

      h3 {
        margin: 1em 0;
        width: auto;
      }
    }

    input[type="radio"] {
      display: none;

      &:checked + label {
        i {
          transform: rotate(0deg);
        }
      }
      &:checked ~ .rollcontent {
        visibility: visible;
        opacity: 1;
        transform: rotateX(0deg);
        max-height: 1000px;
      }
    }

    .rollcontent {
      visibility: hidden;
      opacity: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      overflow: hidden;
      max-height: 0px;
      transform-origin: top;
      transform: rotateX(90deg);
      transition: all 250ms ease-in-out;

      h4 {
        min-width: 75%;
        padding: 0 0 0 1.5rem;
      }

      ul {
        max-width: 35%;
        flex: 1 1 35%;
        color: $darkgrey;
        padding: 0 1rem 0 3.15rem;

        &:first-child {
          max-width: 75%;
          flex: 1 1 75%;
        }

        &:first-of-type {
          margin-bottom: 1rem;
        }
      }

      p {
        color: $darkgrey;
        margin-left: 10%;
      }
    }
  }
}

// Clipper Test

.right-triangle {
  @include position(absolute, 0 null null 0);
  @include size(100%);
  background: linear-gradient($neutral-grey-background),
    url("https://source.unsplash.com/AVhWn78j_Vw/853x480"); //url("https://images.pexels.com/photos/114907/pexels-photo-114907.jpeg?h=350&auto=compress"); //url('https://source.unsplash.com/AVhWn78j_Vw/853x480'); //url("https://images.pexels.com/photos/114907/pexels-photo-114907.jpeg?h=350&auto=compress"); //AVhWn78j_Vw
  background-size: cover;
  background-attachment: fixed;
  -webkit-clip-path: $triangle;
  clip-path: $triangle;
  //z-index: -1;
}

.fifty-rect {
  @include position(absolute, null 0 0 null);
  @include size(100%);
  background: linear-gradient($neutral-grey-background),
    url("https://source.unsplash.com/pdt-XYMku3U/853x480"); //url("https://images.pexels.com/photos/114907/pexels-photo-114907.jpeg?h=350&auto=compress"); //url('https://source.unsplash.com/pdt-XYMku3U/853x480'); //url("https://images.pexels.com/photos/114907/pexels-photo-114907.jpeg?h=350&auto=compress"); //AVhWn78j_Vw
  background-size: cover;
  background-attachment: fixed;
  -webkit-clip-path: $rect;
  clip-path: $rect;
  //z-index: -1;
}

// The animation code
@keyframes slideInRight {
  0% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(5%);
  }
  85% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(0%) translateZ(-2px) scale(3);
  }
}

@keyframes slideInDown {
  0% {
    transform: translateY(-150%);
  }
  70% {
    transform: translateY(5%);
  }
  85% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes headerImageRotateDT {
  0%,
  15%,
  100% {
    background: linear-gradient(rgba(21, 21, 21, 0.5), rgba(21, 21, 21, 0.5)),
      url("https://source.unsplash.com/igmaRVtMhqg/1280x720") no-repeat center
        center;
    background-size: cover;
  }
  20%,
  35% {
    background: linear-gradient(rgba(21, 21, 21, 0.5), rgba(21, 21, 21, 0.5)),
      url("https://source.unsplash.com/5D9SyUI3wHU/1280x720") no-repeat center
        center;
    background-size: cover;
  }
  40%,
  55% {
    background: linear-gradient(rgba(21, 21, 21, 0.5), rgba(21, 21, 21, 0.5)),
      url("https://source.unsplash.com/IZTnVWWbd4U/1280x720") no-repeat center
        center;
    background-size: cover;
  }
  60%,
  75% {
    background: linear-gradient(rgba(21, 21, 21, 0.5), rgba(21, 21, 21, 0.5)),
      url("https://source.unsplash.com/gb7n4cNSmKY/1280x720") no-repeat center
        center;
    background-size: cover;
  }
  80%,
  95% {
    background: linear-gradient(rgba(21, 21, 21, 0.5), rgba(21, 21, 21, 0.5)),
      url("https://source.unsplash.com/6gTxjDrGCVI/1280x720") no-repeat center
        center;
    background-size: cover;
  }
}

@keyframes headerImageRotateMB {
  0%,
  15%,
  100% {
    background: linear-gradient(rgba(21, 21, 21, 0.5), rgba(21, 21, 21, 0.5)),
      url("https://source.unsplash.com/igmaRVtMhqg/853x481") no-repeat center
        center;
    background-size: cover;
  }
  20%,
  35% {
    background: linear-gradient(rgba(21, 21, 21, 0.5), rgba(21, 21, 21, 0.5)),
      url("https://source.unsplash.com/5D9SyUI3wHU/853x480") no-repeat center
        center;
    background-size: cover;
  }
  40%,
  55% {
    background: linear-gradient(rgba(21, 21, 21, 0.5), rgba(21, 21, 21, 0.5)),
      url("https://source.unsplash.com/IZTnVWWbd4U/853x480") no-repeat center
        center;
    background-size: cover;
  }
  60%,
  75% {
    background: linear-gradient(rgba(21, 21, 21, 0.5), rgba(21, 21, 21, 0.5)),
      url("https://source.unsplash.com/gb7n4cNSmKY/853x480") no-repeat center
        center;
    background-size: cover;
  }
  80%,
  95% {
    background: linear-gradient(rgba(21, 21, 21, 0.5), rgba(21, 21, 21, 0.5)),
      url("https://source.unsplash.com/6gTxjDrGCVI/853x480") no-repeat center
        center;
    background-size: cover;
  }
}

@keyframes headerImageRotate {
  0%,
  30%,
  100% {
    opacity: 0;
  }
  5%,
  25% {
    opacity: 1;
  }
}

@keyframes upAndDown {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}

@media (max-width: 980px) {
  .menu {
    &.open ul {
      li:last-of-type {
        bottom: 120px;
      }
    }
  }
  .container {
    &.header {
      min-height: 98vh;
      .bg {
        background-attachment: scroll !important;
      }

      h1 {
        margin-top: 0;
        font-size: 2.15rem;
      }
    }

    &.body,
    &.footer {
      padding: 5% 7.5%;
    }

    &.footer {
      align-items: center;

      .wrapper {
        justify-content: center;
        a {
          margin-left: 1rem;
        }
      }
    }
  }

  #more .wrapper {
    flex-direction: column;

    ul {
      width: 100%;

      &:first-of-type {
        margin-bottom: 0;
      }

      &:nth-child(2n) {
        margin-top: 0;
      }
    }
  }

  #Connect {
    align-items: center;

    h1,
    .wrapper {
      text-align: center;
      justify-content: center;
    }
  }

  .listroll {
    .rollrow {
      flex: 1 1 100%;

      .rollcontent {
        ul {
          max-width: 100%;
          flex: 1 1 100%;

          &:first-child {
            max-width: 100%;
            flex: 1 1 100%;
          }

          &:nth-of-type(2n) {
            margin-bottom: 0;
          }

          &:last-of-type {
            margin-top: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .right-triangle {
    background-attachment: scroll;
  }

  .fifty-rect {
    background-attachment: scroll;
  }
}
